In [28]:
import numpy as np
import pandas as pd

# Generate Beta curve using Temperature and Age function
zbml=np.arange(0,8000,100)

np.random.seed(42)
n_samples=100
tg_i = np.random.uniform(0.01, 0.02, n_samples)

tg=0.014

t0=40 # Seafloor temperature F
temp=t0+tg*zbml*3.2808 # Temperature function, F

age=np.interp(zbml,[0,8000],[0,60]) # Age function, million years

# Constants for computing Beta function
R = 1.987 #cal/K/mol
dE = 19.39e3 #cal/mol (Dutta: 19.3+-0.7 kcal/mol)
A = 4e10 #/million yrs (Dutta: 0.4/yr)
b0=6.6
b1=12

# Compute Beta function
dt = np.diff(age)
dt = np.insert(dt, 0, 0)

Tk=(5/9)*(temp-32)+273.15 # Convert temp from F to K

S = A * np.exp(-dE / R / Tk) * dt
S = np.cumsum(S)
S = 1 * np.exp(-S)

beta=b0*S+b1*(1-S)
      
# Generate dataframe
df = pd.DataFrame({
    'Depth_BML': zbml,
    'Temperature': temp,
    'Age': age,
    'Beta': beta
})

# Save each DataFrame to a .csv file
df.to_csv('beta_data.csv', index=False)

# Display the DataFrame 
df # This must be the last line of the cell, otherwise use print(df)

    Depth_BML  Temperature    Age       Beta
0           0     40.00000   0.00   6.600000
1         100     44.59312   0.75   6.600121
2         200     49.18624   1.50   6.600286
3         300     53.77936   2.25   6.600511
4         400     58.37248   3.00   6.600816
..        ...          ...    ...        ...
75       7500    384.48400  56.25  12.000000
76       7600    389.07712  57.00  12.000000
77       7700    393.67024  57.75  12.000000
78       7800    398.26336  58.50  12.000000
79       7900    402.85648  59.25  12.000000

[80 rows x 4 columns]

In [5]:
import numpy as np
import pandas as pd

# Generate new Beta curve using new Temp and Age function
zbml = np.arange(0, 8000, 100)

np.random.seed(42)
n_samples = 100
tg_i = np.random.uniform(0.01, 0.02, n_samples)  # Array of 100 tg values

# Constants
t0 = 40  # Seafloor temperature in F
R = 1.987  # cal/K/mol
dE = 19.39e3  # cal/mol (Dutta: 19.3+-0.7 kcal/mol)
A = 4e10  # /million yrs (Dutta: 0.4/yr)
b0 = 6.6
b1 = 12

# Loop through each tg value and generate a separate CSV file
for idx, tg in enumerate(tg_i, start=1):
    # Calculate temperature
    temp = t0 + tg * zbml * 3.2808

    # Calculate age
    age = np.interp(zbml, [0, 8000], [0, 60])

    # Calculate dt
    dt = np.diff(age)
    dt = np.insert(dt, 0, 0)

    # Convert temperature to Kelvin
    Tk = (5 / 9) * (temp - 32) + 273.15

    # Calculate S
    S = A * np.exp(-dE / R / Tk) * dt
    S = np.cumsum(S)
    S = 1 * np.exp(-S)

    # Calculate beta
    beta = b0 * S + b1 * (1 - S)

    # Create a DataFrame for the current tg
    df = pd.DataFrame({
        'Depth_BML': zbml,
        'Temperature': temp,
        'Age': age,
        'Beta': beta
    })

    # Save the DataFrame to a .csv file
    filename = f'beta_data_{idx}.csv'
    df.to_csv(filename, index=False)

    print(f"File {filename} created.")

File beta_data_1.csv created.
File beta_data_2.csv created.
File beta_data_3.csv created.
File beta_data_4.csv created.
File beta_data_5.csv created.
File beta_data_6.csv created.
File beta_data_7.csv created.
File beta_data_8.csv created.
File beta_data_9.csv created.
File beta_data_10.csv created.
File beta_data_11.csv created.
File beta_data_12.csv created.
File beta_data_13.csv created.
File beta_data_14.csv created.
File beta_data_15.csv created.
File beta_data_16.csv created.
File beta_data_17.csv created.
File beta_data_18.csv created.
File beta_data_19.csv created.
File beta_data_20.csv created.
File beta_data_21.csv created.
File beta_data_22.csv created.
File beta_data_23.csv created.
File beta_data_24.csv created.
File beta_data_25.csv created.
File beta_data_26.csv created.
File beta_data_27.csv created.
File beta_data_28.csv created.
File beta_data_29.csv created.
File beta_data_30.csv created.
File beta_data_31.csv created.
File beta_data_32.csv created.
File beta_data_33.csv created.
File beta_data_34.csv created.
File beta_data_35.csv created.
File beta_data_36.csv created.
File beta_data_37.csv created.
File beta_data_38.csv created.
File beta_data_39.csv created.
File beta_data_40.csv created.
File beta_data_41.csv created.
File beta_data_42.csv created.
File beta_data_43.csv created.
File beta_data_44.csv created.
File beta_data_45.csv created.
File beta_data_46.csv created.
File beta_data_47.csv created.
File beta_data_48.csv created.
File beta_data_49.csv created.
File beta_data_50.csv created.
File beta_data_51.csv created.
File beta_data_52.csv created.
File beta_data_53.csv created.
File beta_data_54.csv created.
File beta_data_55.csv created.
File beta_data_56.csv created.
File beta_data_57.csv created.
File beta_data_58.csv created.
File beta_data_59.csv created.
File beta_data_60.csv created.
File beta_data_61.csv created.
File beta_data_62.csv created.
File beta_data_63.csv created.
File beta_data_64.csv created.
File beta_data_65.csv created.
File beta_data_66.csv created.
File beta_data_67.csv created.
File beta_data_68.csv created.
File beta_data_69.csv created.
File beta_data_70.csv created.
File beta_data_71.csv created.
File beta_data_72.csv created.
File beta_data_73.csv created.
File beta_data_74.csv created.
File beta_data_75.csv created.
File beta_data_76.csv created.
File beta_data_77.csv created.
File beta_data_78.csv created.
File beta_data_79.csv created.
File beta_data_80.csv created.
File beta_data_81.csv created.
File beta_data_82.csv created.
File beta_data_83.csv created.
File beta_data_84.csv created.
File beta_data_85.csv created.
File beta_data_86.csv created.
File beta_data_87.csv created.
File beta_data_88.csv created.
File beta_data_89.csv created.
File beta_data_90.csv created.
File beta_data_91.csv created.
File beta_data_92.csv created.
File beta_data_93.csv created.
File beta_data_94.csv created.
File beta_data_95.csv created.
File beta_data_96.csv created.
File beta_data_97.csv created.
File beta_data_98.csv created.
File beta_data_99.csv created.
File beta_data_100.csv created.

In [26]:
import pandas as pd
import glob

# Get a list of all beta_data_*.csv files
file_list = glob.glob('beta_data_*.csv')

# Initialize an empty list to store DataFrames
df_list = []

# Loop through each file, read it, and append it to the list
for file in file_list:
    df = pd.read_csv(file)
    df_list.append(df)

# Concatenate all DataFrames vertically
combined_df = pd.concat(df_list, axis=0)

# Save the combined DataFrame to a single CSV file
combined_df.to_csv('100_beta_data.csv', index=False)

print(f"Combined file '100_beta_data.csv' created successfully.")

df.describe() # This must be the last line of the cell, otherwise, use print(df.describe())

Combined file '100_beta_data.csv' created successfully.

         Depth_BML  Temperature        Age       Beta
count    80.000000    80.000000  80.000000  80.000000
mean   3950.000000   255.448923  29.625000   9.863070
std    2323.790008   126.748874  17.428425   2.441826
min       0.000000    40.000000   0.000000   6.600000
25%    1975.000000   147.724461  14.812500   6.782310
50%    3950.000000   255.448923  29.625000  11.833795
75%    5925.000000   363.173384  44.437500  12.000000
max    7900.000000   470.897846  59.250000  12.000000

In [1]:
import numpy as np
import pandas as pd

# Generate new Beta curve using new Temp and Age function
zbml = np.arange(0, 8000, 100)

np.random.seed(42)
n_samples = 10  # Reduced to 10 samples for both tg and age_end
tg_i = np.random.uniform(0.01, 0.02, n_samples)  # Array of 10 tg values
age_end = np.random.uniform(30, 60, n_samples)  # Array of 10 age_end values

# Constants
t0 = 40  # Seafloor temperature in F
R = 1.987  # cal/K/mol
dE = 19.39e3  # cal/mol (Dutta: 19.3+-0.7 kcal/mol)
A = 4e10  # /million yrs (Dutta: 0.4/yr)
b0 = 6.6
b1 = 12

# Loop through each combination of tg and age_end
file_count = 0
for tg in tg_i:
    for age_end_value in age_end:
        # Calculate temperature
        temp = t0 + tg * zbml * 3.2808

        # Calculate age with the new age_end
        age_i = np.interp(zbml, [0, 8000], [0, age_end_value])

        # Calculate dt
        dt = np.diff(age_i)
        dt = np.insert(dt, 0, 0)

        # Convert temperature to Kelvin
        Tk = (5 / 9) * (temp - 32) + 273.15

        # Calculate S
        S = A * np.exp(-dE / R / Tk) * dt
        S = np.cumsum(S)
        S = 1 * np.exp(-S)

        # Calculate beta
        beta = b0 * S + b1 * (1 - S)

        # Create a DataFrame for the current combination
        df = pd.DataFrame({
            'Depth_BML': zbml,
            'Temperature': temp,
            'Age': age_i,
            'Beta': beta
        })

        # Save the DataFrame to a .csv file
        file_count += 1
        filename = f'beta_data_{file_count}.csv'
        df.to_csv(filename, index=False)

        print(f"File {filename} created.")

File beta_data_1.csv created.
File beta_data_2.csv created.
File beta_data_3.csv created.
File beta_data_4.csv created.
File beta_data_5.csv created.
File beta_data_6.csv created.
File beta_data_7.csv created.
File beta_data_8.csv created.
File beta_data_9.csv created.
File beta_data_10.csv created.
File beta_data_11.csv created.
File beta_data_12.csv created.
File beta_data_13.csv created.
File beta_data_14.csv created.
File beta_data_15.csv created.
File beta_data_16.csv created.
File beta_data_17.csv created.
File beta_data_18.csv created.
File beta_data_19.csv created.
File beta_data_20.csv created.
File beta_data_21.csv created.
File beta_data_22.csv created.
File beta_data_23.csv created.
File beta_data_24.csv created.
File beta_data_25.csv created.
File beta_data_26.csv created.
File beta_data_27.csv created.
File beta_data_28.csv created.
File beta_data_29.csv created.
File beta_data_30.csv created.
File beta_data_31.csv created.
File beta_data_32.csv created.
File beta_data_33.csv created.
File beta_data_34.csv created.
File beta_data_35.csv created.
File beta_data_36.csv created.
File beta_data_37.csv created.
File beta_data_38.csv created.
File beta_data_39.csv created.
File beta_data_40.csv created.
File beta_data_41.csv created.
File beta_data_42.csv created.
File beta_data_43.csv created.
File beta_data_44.csv created.
File beta_data_45.csv created.
File beta_data_46.csv created.
File beta_data_47.csv created.
File beta_data_48.csv created.
File beta_data_49.csv created.
File beta_data_50.csv created.
File beta_data_51.csv created.
File beta_data_52.csv created.
File beta_data_53.csv created.
File beta_data_54.csv created.
File beta_data_55.csv created.
File beta_data_56.csv created.
File beta_data_57.csv created.
File beta_data_58.csv created.
File beta_data_59.csv created.
File beta_data_60.csv created.
File beta_data_61.csv created.
File beta_data_62.csv created.
File beta_data_63.csv created.
File beta_data_64.csv created.
File beta_data_65.csv created.
File beta_data_66.csv created.
File beta_data_67.csv created.
File beta_data_68.csv created.
File beta_data_69.csv created.
File beta_data_70.csv created.
File beta_data_71.csv created.
File beta_data_72.csv created.
File beta_data_73.csv created.
File beta_data_74.csv created.
File beta_data_75.csv created.
File beta_data_76.csv created.
File beta_data_77.csv created.
File beta_data_78.csv created.
File beta_data_79.csv created.
File beta_data_80.csv created.
File beta_data_81.csv created.
File beta_data_82.csv created.
File beta_data_83.csv created.
File beta_data_84.csv created.
File beta_data_85.csv created.
File beta_data_86.csv created.
File beta_data_87.csv created.
File beta_data_88.csv created.
File beta_data_89.csv created.
File beta_data_90.csv created.
File beta_data_91.csv created.
File beta_data_92.csv created.
File beta_data_93.csv created.
File beta_data_94.csv created.
File beta_data_95.csv created.
File beta_data_96.csv created.
File beta_data_97.csv created.
File beta_data_98.csv created.
File beta_data_99.csv created.
File beta_data_100.csv created.

In [2]:
import pandas as pd
import glob

# Get a list of all beta_data_*.csv files
file_list = glob.glob('beta_data_*.csv')

# Initialize an empty list to store DataFrames
df_list = []

# Loop through each file, read it, and append it to the list
for file in file_list:
    df = pd.read_csv(file)
    df_list.append(df)

# Concatenate all DataFrames vertically
combined_df = pd.concat(df_list, axis=0)

# Save the combined DataFrame to a single CSV file
combined_df.to_csv('100_beta_data2.csv', index=False)

print(f"Combined file '100_beta_data2.csv' created successfully.")

df.describe() # This must be the last line of the cell, otherwise, use print(df.describe())

Combined file '100_beta_data2.csv' created successfully.

         Depth_BML  Temperature        Age       Beta
count    80.000000    80.000000  80.000000  80.000000
mean   3950.000000   189.810305  17.529179   8.857942
std    2323.790008    88.133593  10.312438   2.363571
min       0.000000    40.000000   0.000000   6.600000
25%    1975.000000   114.905153   8.764590   6.626067
50%    3950.000000   189.810305  17.529179   7.602386
75%    5925.000000   264.715458  26.293769  11.906829
max    7900.000000   339.620610  35.058359  12.000000